{{>header}}
{{>navbar}}

<form>
 
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
   <div class="mb-3">
    <input type="email" class="form-control" placeholder="Email" name="email">
  </div>
 <div class="mb-3">
    <input type="text" class="form-control" placeholder="Age" name="age">
  </div>
  <button class="btn btn-primary">Add</button>
</form>
{{>footer}}