<form class="mt-5" [formGroup]="registerForm" (ngSubmit)="handleRegister()">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input class="form-control" placeholder="name" formControlName="name">
        <div *ngIf="name?.['invalid']" class="alert alert-danger">
            <p *ngIf="name?.['errors']?.['required']">required</p>
            <p *ngIf="name?.['errors']?.['minlength']">*minlength</p>
            <p *ngIf="name?.['errors']?.['maxlength']">*maxlength</p>
        </div>
        <div *ngIf="errMsg.name" class="alert alert-danger">{{errMsg.name}}</div>
      </div>
    <div class="mb-3" >
      <label  class="form-label">Email address</label>
      <input class="form-control" placeholder="email" formControlName="email">
        <div *ngIf="email?.['invalid']" class="alert alert-danger">
            <p *ngIf="email?.['errors']?.['email']">invalid Email</p>
            <p *ngIf="email?.['errors']?.['required']">required</p>
        </div>
        <div *ngIf="errMsg.email" class="alert alert-danger">{{errMsg.email}}</div>
      
    </div>
    <div class="mb-3">
        <label class="form-label">User name</label>
        <input class="form-control" placeholder="username" formControlName="username">
        <div *ngIf="username?.['invalid']" class="alert alert-danger">
            <p *ngIf="username?.['errors']?.['required']">required</p>
            <p *ngIf="username?.['errors']?.['minlength']">minlength</p>
            <p *ngIf="username?.['errors']?.['maxlength']">maxlength</p>
        </div>
        <div *ngIf="errMsg.username" class="alert alert-danger">{{errMsg.username}</div>
      </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input class="form-control" placeholder="password" formControlName="password">
      <div *ngIf="password?.['invalid']" class="alert alert-danger">
        <p *ngIf="password?.['errors']?.['required']">required</p>
    </div>
    <div *ngIf="errMsg.password" class="alert alert-danger">{{errMsg.password}</div>
      
    </div>

    <!-- <div class="mb-3 form-check">
        <label for="addrType" class="form-label">Address Type</label>
        <select class="form-control" formControlName="addrType">
            <option value="home">Home</option>
            <option value="work">Work</option>
          </select>
        <label for="addrDetails" class="form-label mt-2">Address Details</label>
        <input placeholder="Enter Address Details" class="form-control" formControlName="addrDetails">
      </div> -->
    <button  class="btn btn-primary">Register</button>
  </form>